<footer class="bg-gray1">
  <ul>
    <li class="email"><a href="mailto:team@avaloniaui.net">team@avaloniaui.net</a>
    <li class="address">AvaloniaUI OÜ, Ahtri 12, Tallinn 10151, Estonia
    <li class="dotnetfoundation">Supported by the <a href="https://dotnetfoundation.org">.NET Foundation</a>
  </ul>
  <environment include="Development">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/anchor-js/anchor.min.js"></script>
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/highlight.js/languages/fsharp.min.js"></script>
    <script src="~/lib/highlight.js/languages/powershell.min.js"></script>
    <script src="~/lib/highlight.js/languages/xml.min.js"></script>
    <script src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/simplebar/simplebar.min.js"></script>
    <script src="~/lib/slick-carousel/slick.min.js"></script>
    <script src="~/js/site.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/js/site.min.js"></script>
  </environment>
</footer>
