<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cross platform XAML-based UI framework for .NET Core, .NET Framework and Mono. Avalonia supports Windows, Linux and macOS with experimental mobile support.">
   <environment include="Development">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/vars.css">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/colors.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/images.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/hero.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" href="~/css/treeview.css">
    <link rel="stylesheet" href="~/css/content.css">
    <link rel="stylesheet" href="~/css/docs.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/lib/highlight.js/styles/vs2015.min.css">
    <link rel="stylesheet" href="~/lib/magnific-popup.js/magnific-popup.min.css">
    <link rel="stylesheet" href="~/lib/simplebar/simplebar.min.css">
    <link rel="stylesheet" href="~/lib/slick-carousel/slick.min.css">
    <link rel="stylesheet" href="~/lib/slick-carousel/slick-theme.min.css">
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/css/site.min.css">
  </environment>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
  
  <!-- JS declarations were moved to the Footer -->
  
  <title>@ViewData["Title"]</title>

  <noscript>
    <style>
      /** Reinstate scrolling for non-JS clients */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>
</head>
